body{
    background-color: cadetblue;
}
p{
    color: darkblue;
    font-size: 20px;
    text-align: center;
   
}
.box{
    background-color: darkkhaki;
    margin: 25px;
    padding:50px
    

}
ul{
    background-color: darkorange;
    list-style-type: none;
    overflow: hidden;
}
li{
    float:left;
}
li a{
    display: block;
    padding: 10px;
    color:black;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(248, 172, 78);
}

